# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @cloudflare/workers/wrangler will be requested for
# review when someone opens a pull request.

* caass
* electroid
* gregbrimble
* jgentes
* jyn514
* koeninger
* mrbbot
* nataliescottdavidson
* nilslice
* obsidianminor
* threepointone
* xortive
* xtuc
*   @cloudflare/wrangler
